networkx
pandas
pyyaml
scikit-learn
numpy==1.26.4
openai==1.35.7
rank_bm25
langgraph==0.3.34
langchain-openai==0.1.17
pymilvus
sentence-transformers
tqdm
python-dotenv
pydantic>=2.7,<3
pydantic-core>=2.14,<3
tabulate
fastapi
httpx==0.27.2
uvicorn

